:root{
  --bgcolor: linear-gradient(-130deg,#0f4564 68%,#122A4E);
  --darkblue: #122A4E;
  --lightgreen:#79D3C9;
}

body{
  
  background-color:linear-gradient(-130deg,#0f4564 68%,#122A4E);
 
}

#img1 {

    height : 300px;
    width:300px;
    margin-left: 700px;
}



#slides {
  height: 350px;
}


.input_div_message_page
{
	position: fixed;bottom: 0px;width: 100%;background: rgba(255,255,255,0.8);
}
.input_div_message_page label
{
	color: black;
}
.input_div_message_page #msg
{
	width: 80%;
}
.input_div_message_page button
{
	margin-top: 15px;
	width: 50%; 
}


#tick {
  height: 10px;
width : 10px;
}


#uploaded_media {
  text-align: center;
  color : white;
}

